body {
  margin: 0;
  padding: 0;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: Arial;
  font-weight: normal;
  color: #000;
}

.form {
  &__message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    max-width: 100%;

    &--error {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    &--warning {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;    }

    &--success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
  }
}
